.delete-btn {
    border: none;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(244, 63, 63);
}
.opt-change-btn  {
    display: none;
    visibility: hidden;
  }

  /* When the parent is hovered, show the child */
  .option-parent:hover .opt-change-btn {
    display: block;
    visibility: visible;
  }
.option-parent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3px;
}
.option-parent button {
    border-radius: 40px;
    background-color: white;
    border: rgb(52, 168, 83) 2px solid;
}
.option {
    padding: 5px;
} 

.opt-disable-btn{
    display: none;
    visibility: hidden;
}
.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.headerValue {
    font-weight: normal;
    font-size: small;
}
input[type="file"] {
    width: 250px;
    max-width: 100%;
    height: 50px;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}
input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #0078ff;

    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background: #084cdf;
}
.btn {
    background-color: #0078ff;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
#deleteBtn {
    background-color: red;
    margin-left: 20px;
}
#downloadBtn {
    margin-left: 20px;
}
.header {
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background: beige;
    max-height: 200px;
    overflow: scroll;
}
.highlightOptionRef{
    background: rgba(255, 192, 205, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #FFC0CB;
    border-right: 0px;
    border-left: 0px;
    padding: 2px;
}
.highlightSelection {
    /* From https://css.glass */
    background: rgba(44, 125, 155, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(44, 125, 155, 0.3);
}
html {
    font-size: small;
}
.section {
    text-align: center;
    width: 100%;
}
.questionSection {
    padding: 20px;
}
.question-no-style {
    background-color: #636467;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: x-small;
    font-weight: 800;
    margin: 3px;
}
.up-down-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
#passage-header{
    margin-top: 210px;
    padding-left: 25px;
}
#content {
    padding-left: 25px;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}
.line-of-passage {
    text-align: center;
}
a {
    text-decoration: none;
    display: inline;
}
.question {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: start;
}
.correct-option {
    color: rgb(52, 168, 83);
    font-weight: bold;
}
.highlighted {
    font-weight: bold;
    color: #4285f4;
    font-size: small;
}
input {
    margin-top: 3px;
    height: 20px;
    width: 20px;
}
.question-html,
.section-html {
    height: 100vh;
    overflow: scroll;
}
.tab {
    padding-left: 20px;
}

.editMode {
    display: flex;
    float: right;
    position: relative;
}
.editModeLabel {
    font-size: large;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }